#ask {
    font-size: 15px;
    width: 60%;
    border-bottom: solid 1px grey;
}
#formInfo {
    margin-top: 15px;
    font-size: 17px;
}
#optionBtn{
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
    margin-left: 30px;
    font-size: 15px;
    width: 30%;
}
.btnBarContainer{
    display: flex;
    width: fit-content;
    align-items: center;
}
.answerBox{
    padding-top: 20px;
}