.floatingContainer{
    position: sticky;
    box-shadow: 5px 5px 5px lightsalmon;
    width: fit-content; 
    height: fit-content;
    border-radius: 10px;
    border: solid white;
    background-color: white;
    top: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 410px;
    float: left;
}

button{
    background-color: white;
    cursor:pointer;
    border: none;
    margin-left: 3px;
    margin-right: 3px;
}
button:hover{
    transform: scale(1.1) perspective(1px);
    color: salmon;
}

img {
    width: 20px;
    height: 20px;
    object-fit:scale-down;
  }

  .btnTag{
    font-size:3px;
  }

.alertMessage{
    color: darkred;
    font-size: 5px;
}